.message-box{
    margin: 5px;
    /*padding: -5px;*/
    overflow: hidden;
    flex-grow: 9;
    flex-shrink: 1;
    flex-basis: 90%;
}
.message-box-right{
    border: 3px solid silver;
    border-radius: 25px 0 25px 25px;
}
.message-text{
    padding: 5px 15px;
    min-height: 112%;
    min-width: 105%;
    margin: -5px;
}

.btn-send-block{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}
.btn-send{
    outline: none;
}