<div *ngFor="let message of messagesService.messages">
    <div class="message-body"
         [ngClass]="{
         'message-box-left':(message.sender !=='me'),
          'message-box-right': (message.sender ==='me'),
           'send':(!message.sent)
           }">
        <div class="foto">
            <img src="assets/avatars/{{(message.sender ==='me') ? '3' : '1'}}.png">
        </div>
        <div class="message-box">
            <p class="message-text">{{message.message}}</p>
            <span class="message-date">{{message.date}}</span>
            <md-spinner class="spinner-send"></md-spinner>
        </div>
    </div>
</div>