.chat-display{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
app-header{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 10%;
    background-color: #00c853;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
app-chat-body{
    flex-grow: 6;
    flex-shrink: 1;
    flex-basis: 80%;
    background-color: #f8fff6;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 5px 15px 15px 5px;
}
app-editing-a-message{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 15%;
    background-color: #d9dfe6;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}